@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  overflow-x: hidden;
} */

body {
  margin: 0;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quote {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.quote::before {
  content: "“";
  font-size: 2em;
  position: absolute;
  left: 6px;
  top: -10px;
  color: #5e84a1;
}

.quote::after {
  content: "”";
  font-size: 2em;
  position: absolute;
  right: 20px;
  bottom: -10px;
  color: #5e84a1;
}

.group:hover .quote::before,
.group:hover .quote::after {
  color: white;
}

.footer {
  background-image: url("./assets/Pattern.png");
  background-size: cover;
}

.transition-max-height {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .footer {
    background-image: none;
  }

  .footer {
    background-image: url("./assets/Footer\ Line\ Image.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .quote::before {
    color: white;
  }

  .quote::after {
    color: #ffffff;
  }
}
